<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modification de l'utilisateur
	[[${session.connectedUser.id}]]</title>
</head>
<body>

	<h1>Modification de l'utilisateur [[${session.connectedUser.id}]]</h1>
	<form th:action="@{/profilPersonne/modifier}" method="POST"
		enctype="multipart/form-data">
		<input name="id" th:value="${session.connectedUser.id}"
			placeholder="id" type="hidden" /> <input name="id"
			th:value="${session.connectedUser.adresse.id}" placeholder="id"
			type="hidden" />
		<ul>
			<li><input name="nom" th:value="${session.connectedUser.nom}"
				type="text" placeholder="Nom" /></li>
			<li><input name="prenom"
				th:value="${session.connectedUser.prenom}" type="text"
				placeholder="Prénom" /></li>
			<li><input name="dateNaissance"
				th:value="${#dates.format(session.connectedUser.dateNaissance, 'yyyy-MM-dd')}"
				type="date" placeholder="Date de Naissance" /></li>
			<li><input name="email"
				th:value="${session.connectedUser.email}" type="email"
				placeholder="Email" /></li>
			<li><input name="password"
				th:value="${session.connectedUser.password}" type="password"
				placeholder="********" /></li>
			<li><input name="clubPrefere" type="text"
				th:value="${session.connectedUser.clubPrefere}"
				placeholder="clubPrefere" /></li>
			<li><input name="clubActuel" type="text"
				th:value="${session.connectedUser.clubActuel}"
				placeholder="clubActuel" /></li>
			<li><input name="telephone" type="text"
				th:value="${session.connectedUser.telephone}"
				placeholder="Téléphone" /></li>

			<li></li>

			<li><input name="ligne1"
				th:value="${session.connectedUser.adresse.ligne1}" type="text"
				placeholder="Ligne1" /></li>
			<li><input name="ligne2"
				th:value="${session.connectedUser.adresse.ligne2}" type="text"
				placeholder="Complement" /></li>
			<li><input name="codePostal"
				th:value="${session.connectedUser.adresse.codePostal}" type="text"
				placeholder="Code Postal" /></li>
			<li><input name="ville"
				th:value="${session.connectedUser.adresse.ville}" type="text"
				placeholder="Ville" /></li>


			<li></li>
			<li><input name="tailleCm"
				th:value="${session.connectedUser.tailleCm}" type="number"
				placeholder="Taille en cm" min=130 max=220 /></li>

			<li><input name="poidsKg"
				th:value="${session.connectedUser.poidsKg}" type="number"
				placeholder="Poids en kg" min=50 max=150 /></li>

			<li>
				<label for="piedFort">Pied fort : </label>
				<select name="piedFortDroit">
						<option th:value=true
							th:selected="${session.connectedUser.piedFortDroit? 'selected':''">Droit</option>
						<option th:value=false
							th:selected="${session.connectedUser.piedFortDroit? '':'selected'">Gauche</option>
				</select>
			</li> 
			
			<li><input name="vitesse100m"
				th:value="${session.connectedUser.vitesse100m}" type="text" 
				placeholder="Chrono sur 100m" /></li>
				
			<li><textarea name="description" rows="5" cols="50">Description en 250 caractères</textarea></li>
			 
			<li><input name="file_image" type="file" placeholder="Photo" /></li>

		</ul>
		<a th:href="@{/profil}">Retour</a>
		<button>Modifier</button>
	</form>
</body>
</html>