<main class="text-center py-5">
  <div class="container">
    <h2 class="card-title">
      Votre vote pour le joueur {{ joueur.prenom }} {{ joueur.nom }} :
    </h2>
    <br />
    <form (ngSubmit)="doSend()" [formGroup]="myForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-4" *ngFor="let attribut of attributs">
              <div class="card">
                <!-- Card content -->
                <div class="card-body">
                  <label for="customRange2">{{ attribut }}</label>
                  <input
                    [formControlName]="attribut"
                    type="range"
                    class="custom-range"
                    min="0"
                    max="5"
                    id="customRange2"
                    value="2"
                    (change)="doChange($event)"
                  />
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
          <br />

          <button class="btn blue-gradient btn-md" type="submit">
            Valider
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
