<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
</head>
<body>
	<div th:insert="includes/entete_fragment :: entete"></div>
	<div>
		<h1>Site E-commerce : [[#{home.welcome}]]</h1>
		<p>Bienvenue dans notre site</p>
		<ul>
			<li><a th:href="@{/liste_produits}">Liste des produit</a></li>
			<li><a th:href="@{/produits/new}">Ajouter un nouveau produit</a></li>

		</ul>
	</div>
</body>
</html>