<main class="text-center py-5">
  <div><br /></div>
  <div class="container">
    <!-- Card -->
    <div class="test1">
      <div class="card">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/sv-werder-bremen-v-borussia-dortmund-bundesliga-5cd023d01a944cd31c000001.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Joueur</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">Bared</h6>
          <!-- Text -->
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem perspiciatis voluptatum a, quo nobis, non commodi
            quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
            laborum ut beatae ullam suscipit veniam.
          </p>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="test2">
      <div class="card">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://assets-fr.imgfoot.com/media/cache/642x382/media/recruteur-un-metier-qui-cherche-a-sortir-de-l-ombre_227063.jpg"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Scout</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">Bared</h6>
          <!-- Text -->
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem perspiciatis voluptatum a, quo nobis, non commodi
            quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
            laborum ut beatae ullam suscipit veniam.
          </p>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="test3">
      <div class="card">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://static.cnews.fr/sites/default/files/styles/image_640_360/public/football_vestiaire_psg_5dac259141108_0.jpg?itok=aIEUWubo"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Club</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">Bared</h6>
          <!-- Text -->
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem perspiciatis voluptatum a, quo nobis, non commodi
            quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
            laborum ut beatae ullam suscipit veniam.
          </p>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
</main>
