<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-12 row-cols-md-1">
          <div class="col mb-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                  <strong>Bared</strong>
                </h4>
                <!-- Subtitle -->
                <h5 class="blue-text pb-2">
                  <strong>Bon retour parmi nous</strong>
                </h5>
                <!-- Text -->
                <p class="card-text">
                  Ne manquez pas votre prochaine opportunité ! Identifiez-vous
                  pour rester au courant de ce qui se passe dans la sphère
                  Bared.
                </p>
                <!--Text-->
                <form
                  class="p-5 col-12 mx-auto"
                  (ngSubmit)="doSend()"
                  [formGroup]="myForm"
                >
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control mb-4"
                    placeholder="E-mail"
                    required
                  />
                  <input
                    type="password"
                    formControlName="password"
                    id="defaultLoginFormPassword"
                    class="form-control mb-4"
                    placeholder="Password"
                    required
                  />

                  <button class="btn blue-gradient btn-md" type="submit">
                    Valider
                  </button>
                </form>
              </div>
            </div>
            <!-- Card Wider -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
