.row {
  margin: 0 auto;
}

.text-center {
  background-image: url(https://cdn-s-www.ledauphine.com/images/18C01051-7314-4B16-ACDD-420AA2E9C396/NW_raw/les-billes-noires-des-terrains-synthetiques-permettent-de-faire-tenir-debout-les-brins-d-herbe-artificielle-et-d-allonger-la-duree-de-vie-de-la-fausse-pelouse-photo-d-illustration-pixabay-domaine-public-1510244336.jpg);
}
