<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-12 row-cols-md-1">
          <div class="col mb-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider">
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                  <strong>Bienvenue dans la partie "Vote"</strong>
                </h4>
                <!-- Text -->
                <p class="card-text">
                  Veuillez saisir ci-dessous les informations du joueur que vous
                  voulez noter
                </p>
                <!--Text-->
                <form
                  class="p-5 col-12 mx-auto"
                  (ngSubmit)="doSend()"
                  [formGroup]="myForm"
                >
                  <div class="form-row mb-4">
                    <div class="col">
                      <input
                        type="text"
                        name="nom"
                        formControlName="nom"
                        id="nom"
                        class="form-control mb-4"
                        placeholder="Nom"
                      />
                      <input
                        type="text"
                        name="prenom"
                        formControlName="prenom"
                        id="prenom"
                        class="form-control mb-4"
                        placeholder="Prenom"
                      />
                    </div>
                  </div>
                  <button class="btn blue-gradient btn-md" type="submit">
                    Valider
                  </button>
                </form>
              </div>
            </div>
            <!-- Card Wider -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
