.py-5 {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/02/05/audience-1866738_1280.jpg);
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  /* font-weight: bold; */
}

.card {
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
  height: 850px;
}

.row {
  margin: 0 auto;
  margin-top: -15px;
  width: 300px;
}
