<main class="text-center py-5">
  <div class="card">
    <form class="p-5 col-12 mx-auto" (ngSubmit)="doSend()" [formGroup]="myForm">
      <h3 class="title">Veuillez modifier vos coordonnées</h3>
      <input
        class="form-control mb-4"
        formControlName="email"
        type="email"
        name="email"
        id="email"
        placeholder="E-mail"
        required
      />
      <input
        type="password"
        formControlName="password"
        id="defaultLoginFormPassword"
        class="form-control mb-4"
        placeholder="Password"
        required
      />
      <div class="form-row mb-4">
        <div class="col">
          <input
            type="text"
            formControlName="nom"
            name="nom"
            id="nom"
            class="form-control mb-4"
            placeholder="Nom"
          />
        </div>
        <div class="col">
          <input
            type="text"
            name="prenom"
            formControlName="prenom"
            id="prenom"
            class="form-control mb-4"
            placeholder="Prénom"
          />
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <label>Date de Naissance</label>
        </div>
        <div class="col">
          <input
            type="date"
            formControlName="dateNaissance"
            name="dateNaissance"
            id="dateNaissance"
            class="form-control mb-4"
            placeholder="Date de Naissance"
          />
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <input
            type="text"
            name="clubPrefere"
            formControlName="clubPrefere"
            id="clubPrefere"
            class="form-control mb-4"
            placeholder="Club préféré"
          />
        </div>
        <div class="col">
          <input
            type="text"
            name="clubActuel"
            formControlName="clubActuel"
            id="clubActuel"
            class="form-control mb-4"
            placeholder="Club actuel"
          />
        </div>
      </div>

      <input
        type="text"
        name="telephone"
        formControlName="telephone"
        id="tel"
        class="form-control mb-4"
        placeholder="Téléphone"
      />
      <input
        type="text"
        name="ligne1"
        formControlName="ligne1"
        id="ligne1"
        class="form-control mb-4"
        placeholder="Adresse"
      />
      <input
        type="text"
        name="ligne2"
        formControlName="ligne2"
        id="ligne2"
        class="form-control mb-4"
        placeholder="Complément"
      />
      <div class="form-row mb-4">
        <div class="col">
          <input
            type="text"
            formControlName="codePostal"
            name="codePostal"
            id="codePostal"
            class="form-control mb-4"
            placeholder="Code Postal"
          />
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="ville"
            name="ville"
            id="ville"
            class="form-control mb-4"
            placeholder="Ville"
          />
        </div>
      </div>
      <div class="row">
        <button class="btn blue-gradient btn-md-4" type="submit">
          Valider
        </button>
        <button
          class="btn blue-gradient btn-md-4"
          type="submit"
          [routerLink]="['/mon-profil']"
        >
          Retour
        </button>
      </div>
    </form>
  </div>
</main>
