<!-- <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3"> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark teal darken-3"> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark blue-gradient">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/favicon.png" height="50" alt="Bared logo" />
  </a>
  <a class="navbar-brand" [routerLink]="['/']"
    >BARED - Les spectateurs en avant !</a
  >

  <div class="collapse navbar-collapse ml-auto"></div>
  <ul class="navbar-nav">
    <li *ngIf="connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/mon-profil']"
          >Bonjour {{ connectedUser.prenom }}</a
        >
      </strong>
    </li>

    <li *ngIf="!connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/inscription-personne']"
          >Inscription</a
        ></strong
      >
    </li>
    <li *ngIf="!connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/connexion']"
          >Connexion</a
        ></strong
      >
    </li>
    <li *ngIf="connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/voter']">Voter</a></strong
      >
    </li>
    <li *ngIf="connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/mon-profil']"
          >Mon profil</a
        ></strong
      >
    </li>
    <li *ngIf="connectedUser" class="nav-item">
      <strong
        ><a class="nav-link active" [routerLink]="['/deconnexion']"
          >Se déconnecter</a
        ></strong
      >
    </li>
  </ul>
</nav>
<br />
<br />
<br />
