.py-5 {
  background-image: url(https://images.pexels.com/photos/274422/pexels-photo-274422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-attachment: scroll;
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  /* font-weight: bold; */
}

.card {
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
  height: 650px;
}

.row {
  margin: 0 auto;
  margin-top: -15px;
  width: 300px;
}
