<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-6 text-center">
              <h2 class="card-title">
                <strong
                  >{{ joueur.prenom }} {{ joueur.nom }} - Score :
                  {{ moyenneGenerale }}
                </strong>
              </h2>

              <h5>
                <strong>{{ joueur.dateNaissance }}</strong>
              </h5>
              <table class="montableau">
                <tr>
                  <td>{{ joueur.tailleCm / 100 }} m</td>
                  <td>{{ joueur.poidsKg }} kg</td>
                  <td>{{ joueur.piedFortDroit ? "Droitier" : "Gaucher" }}</td>
                </tr>

                <tr>
                  <td colspan="3">
                    <i class="fas fa-stopwatch"></i> {{ joueur.vitesse100m }}"
                    au 100m
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <i class="far fa-futbol"></i> {{ joueur.clubActuel }}
                  </td>
                </tr>

                <tr>
                  <td class="notbold" colspan="3">{{ joueur.description }}</td>
                </tr>
              </table>
            </div>
            <div class="col mb-6">
              <img height="200" [src]="joueur.pathPhoto" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-5">
          <div
            class="col mb-4"
            *ngFor="let attribut of attributs; let i = index"
          >
            <div class="card">
              <!-- Card content -->
              <div class="card-body">
                <label for="customRange2">{{ attribut }}</label>
                <div>
                  <progress id="file" max="100" [value]="joueur.moyennes[i]">
                  </progress>
                </div>
                <p>{{ joueur.moyennes[i] }}</p>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
        <br />

        <a href="/voter"
          ><button class="btn blue-gradient btn-md" type="submit">
            Retour
          </button></a
        >
      </div>
    </div>
  </div>
</main>
